@import url("https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap");

*,
html,
body {
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  text-align: center !important;
  background-color: #18202f !important;
}

h1 {
  font-weight: lighter;
}

input,
button {
  width: 35%;
  padding: 10px;
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
}

button,
video {
  margin-right: 10px;
}

img {
  border-radius: 5px;
}

ol {
  text-align: left;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 0%;
  background-color: #ea3cb5;
}

#img-perro {
  display: block;
  margin-top: 10px;
  align-items: center;
  max-width: 300px;
  max-height: 300px;

  margin-left: auto;
  margin-right: auto;
}
.progress {
  position: fixed;
  top: 10px;
  right: 10px;
  margin-left: 2rem;
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: end;
  padding: 5px;
  display: flex;
  height: 95vh;
  width: 20px;

  transition: all 0.4s ease-in-out;
}

.progress-value {
  transition: all 1s ease-out;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 0%;
  width: 18px;
}

.mostarscroll {
  opacity: 1;
  pointer-events: auto;
}

hr {
  color: white !important;
}
